body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#5eb062,#34ac86) no-repeat;
    height: 100vh; 
    transition: background-color 0.3s;
}


.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #52e9ca;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

#appointmentTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#appointmentTable th,
#appointmentTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#appointmentTable td a {
    color: #ce3f3f;
    /*text-decoration: none;*/
}

#appointmentTable th {
    background-color: #007bff;
    color: #fff;
}

#appointmentTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#appointmentTable tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

