body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddddd6;
    height: 100vh;
    transition: background-color 0.3s;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #52e9ca;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.content:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
}

label {
    font-size: 18px;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="date"],
input[type="time"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="time"]:focus,
button:focus {
    border-color: #007bff;
}

textarea {
    resize: vertical;
}

select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

#btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 17px;
    grid-column: span 2;
    justify-self: center;
    width: 300px;
}

#btn:hover {
    background-color: #0725bb;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .content {
        margin: 20px;
        padding: 15px;
    }
    
    form {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    #btn {
        grid-column: span 1;
    }
    
    h1 {
        font-size: 28px;
    }
    
    label {
        font-size: 16px;
    }
}
