body {
    font-family: Arial, sans-serif;
    background-color: #90def6;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #52e9ca;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #000000;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}
input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    min-height: 100px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}
.btn {
    background-color: #1492f3;
    color: white;
    border: none;
    padding: 10px 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 300px;
}
.btn:hover {
    background-color: #096cde;
}
.signature-pad {
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#clearSignature {
    margin-top: 10px;
    background-color: #fd4c40;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#clearSignature:hover {
    background-color: #d32f2f;
}
.checkbox-group {
    display: flex;
    align-items: center;
}
.checkbox-group label {
    margin-right: 10px;
}
