<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation Form</title>
    <link rel="stylesheet" th:href="@{/static/css/Patient/blood_donation.css}">

</head>
<body>
<div class="container">
    <h1>Blood Donation Form</h1>
    <form method="post" class="split-form">
        <div class="left-col">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Enter Name" required="">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <input type="radio" name="gender" value="0" required=""> Male
                <input type="radio" name="gender" value="1" required=""> Female
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control hasDatepicker" id="datepicker1"
                       name="dob"
                       placeholder="YYYY-MM-DD" required="">
            </div>
            <div class="form-group">
                <label>Blood Group</label>
                <select name="bloodgroup" id="bloodGroup">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>
            <div class="form-group">
                <label>Weight</label>
                <input type="number" class="form-control" id="weight" name="weight"
                       placeholder="Enter weight"
                       required="">
            </div>
            <div class="form-group">
                <label>Do you have any specific diseases?</label>
                <div>
                    <input type="radio" name="diseases" value="Yes" required> Yes
                    <input type="radio" name="diseases" value="No" required> No
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" id="street" name="street"
                       placeholder="Enter street"
                       required="">
            </div>
            <div class="form-group">
                <label>Area</label>
                <input type="text" class="form-control" id="area" name="area"
                       placeholder="Enter area name" required="">
            </div>
            <div class="form-group">
                <label>City</label>
                <select name="city" class="form-control" id="city">
                    <option value="10">Adilabad</option>
                    <option value="477">Agra</option>
                    <option value="70">Ahmedabad</option>
                    <option value="290">Ahmednagar</option>

                    <option value="338">Zunheboto</option>
                </select>
            </div>
            <div class="form-group">
                <label>Pincode</label>
                <input type="number" class="form-control" maxlength="6" id="pincode"
                       name="pincode"
                       placeholder="Enter pincode" required="">
            </div>
            <div class="form-group">
                <label>Mobile</label>
                <input type="number" class="form-control" maxlength="10" id="mobile" name="mobile"
                       placeholder="Enter mobile" required="">
            </div>
        </div>
        <div class="box-footer text-center">
        </div>
    </form>
    <button id="registerBtn" class="btn btn-primary" onclick="register()">Register</button>
</div>

<script th:src="@{/static/js/Patient/blood_donation.js}"></script>
</body>
</html>
