<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/css/Patient/chatbot.css}">
</head>

<body>
<div th:replace="~{Patient/fragments}"></div>
<div class="content">
    <h1>Welcome, Patient!</h1>
    <p>Enter your name and start chatting with the chatbot.</p>

    <div class="chat-container">
        <div class="chat-messages" id="chat-messages">
        </div>
        <input type="text" class="chat-input" id="user-input" placeholder="Type your message...">
        <button class="chat-button" onclick="sendMessage()">
            <img th:src="@{/static/images/send-icon.png}" alt="Send Icon">
        </button>
    </div>
</div>

<script th:src="@{/static/js/Patient/chatbot.js}"></script>
</body>

</html>
