<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Dashboard</title>
  <link rel="stylesheet" th:href="@{/static/css/Patient/home.css}">
</head>

<body>
<div th:replace="~{Patient/fragments}"></div>
<div class="content">
  <h1>Welcome, <span th:text="${currentuser.name}"></span>!</h1>
</div>

<div class="content">
  <h2>News and Updates</h2>
  <p>Stay tuned for the latest news and updates here.</p>
</div>

<script th:src="@{/static/js/Patient/home.js}"></script>
</body>

</html>
