<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" th:href="@{/static/css/Patient/nearbyhospital.css}">
</head>
<body>
<div th:replace="~{Patient/fragments}"></div>
<div class="dashboard">
    <h1>Find near by hospital</h1>
    <button id="fetch-hospitals">Fetch Nearby Hospitals</button>
    <div id="hospitals-list"></div>
</div>
<script th:src="@{/static/js/Patient/nearbyhospital.js}"></script>
</body>
</html>