
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddddd6;
    transition: background-color 0.3s;
}
.content {
    padding: 20px;
    margin-left: 200px;
}
