
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#5eb062,#34ac86) no-repeat;
    height: 100vh; 
    transition: background-color 0.3s;
}

.content {
    padding: 20px;
    margin-left: 200px;
}
