body {
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddddd6;
}
.content {
    margin-top: 100px;
    background-color: #52e9ca;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    text-align: center;
    animation: fadeInUp 0.5s ease forwards;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 17px;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#adsb {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s, color 0.3s;
}
#adsb:hover {
    background-color: #0056b3;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(-5px);
    }
}
