body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    transition: background-color 0.3s; /* Add transition for background color */
    background-color: #ddddd6;
    /* height: 100vh;  */
    transition: background-color 0.3s;

}

.content {
    padding: 20px;
    margin-left: 200px;
}


table.appointments-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table.appointments-list, th, td {
    border: 1px solid #ddd;
}

table.appointments-list th, table.appointments-list td {
    padding: 12px;
    text-align: left;
}

table.appointments-list th {
    background-color: #4CAF50;
    color: white;
}

table.appointments-list tr:hover {
    background-color: #f5f5f5;
}

.content h1{
    text-align: center;
}