body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddddd6;
    transition: background-color 0.3s;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s; 
    background-color: #52e9ca;
    margin-left: 225px;
}
.dashboard-heading {
    margin-bottom: 20px;
    text-align: center;
}
.dashboard-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dashboard-card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #dad6d6;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s; 
}
.dashboard-card:hover {
    transform: translateY(-5px); 
    background-color: #e5e2e2; 
}
.dashboard-card h2,
.dashboard-card h3 {
    margin-top: 0;
    text-align: center;
}
.dashboard-card p {
    margin-bottom: 10px;
}
