body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s; /* Add transition for background color */
    background: linear-gradient(#5eb062,#34ac86) no-repeat;
    height: 100vh; 
    transition: background-color 0.3s;

}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; /* Add transition for box shadow */
    background-color: #52e9ca;
    margin-left: 225px;

}

.dashboard-heading {
    margin-bottom: 20px;
    text-align: center;
}

.dashboard-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #dad6d6;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s; /* Add transition for transform */
}

.card:hover {
    transform: translateY(-5px); /* Move card up slightly on hover */
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}