<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" th:href="@{/static/css/Doctor/fragments.css}">
</head>

<body>
<div class="sidebar">
    <h2>Doctor Panel</h2>
    <ul>
        <li><a href="/doctor/home">Dashboard</a></li>
        <li><a href="/doctor/appointments">Appointments</a></li>
        <li><button class="logout-btn" onclick="logout()">Logout</button></li>
    </ul>
</div>


<script th:src="@{/static/js/Doctor/fragments.js}"></script>
</body>

</html>
