<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" th:href="@{/static/css/Doctor/home.css}">
</head>

<body>
<div th:replace="~{Doctor/fragments}"></div>
<div class="content">
    <h1>Welcome, Doctor!</h1>
    <p>This is your Doctor Dashboard.</p>
</div>

<script th:src="@{/static/js/Doctor/home.js}"></script>
</body>

</html>
