<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organ Donation Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/css/Doctor/prescription.css}">
</head>
<body>
<div th:replace="~{Doctor/fragments}"></div>

<div class="container">
    <h2>Patient Data</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Patient Name</th>
            <th>age</th>
            <th>Symptons</th>
            <th>gender</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
</div>

<!-- Add this code inside the body tag -->
<div id="prescriptionModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Write Prescription</h2>
    <textarea id="prescriptionText" rows="10" cols="50"></textarea>
    <button id="savePrescription">Save</button>
  </div>
</div>

<script th:src="@{/static/js/Doctor/prescription.js}"></script>
</body>
</html>