<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invalid or Expired Link</title>
  <link rel="stylesheet" th:href="@{/static/css/Authentication/invalid.css}">
</head>
<body>
<h1>Invalid or Expired Link</h1>
<p>The link you have used is either invalid or has expired.</p>
<p>Please make sure you have the correct link and try again.</p>
</body>
</html>
