<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/static/css/Authentication/register.css}">
</head>
<body>

<div class="register-container">
    <h2>Sign Up</h2>
    <form th:object="${NewUser}" th:action="@{/register}" class="register-form" method="post">

        <div th:if="${success != null}">
            <p style="text-align: center; color: #ffc107" class="text-warning">[[${success}]]</p>
            <p style="text-align: center;">Click <a href="/login">here</a> to login.</p>
        </div>

        <input th:field="*{name}" type="text" id="name" name="name" placeholder="Name" required>


        <div id="username-error" class="error-message"></div>

        <input th:onkeyup="checkAvailability('username')" th:field="*{username}" type="text" id="username"
               name="username"
               placeholder="Username" required
               th:class="${duplicateUserName} ? 'error' : ''">


        <div id="email-error" class="error-message"></div>
        <input th:onkeyup="checkAvailability('emailId')" th:field="*{email}" type="email" id="email" name="email"
               placeholder="Email" required
               th:class="${duplicateEmailId} ? 'error' : ''">


        <div id="phoneNumber-error" class="error-message"></div>

        <input th:onkeyup="checkAvailability('phoneNumber')" th:field="*{mobile}" type="text" id="phone"
               name="phone"
               placeholder="Phone Number" required
               th:class="${duplicatePhoneNumber} ? 'error' : ''">

        <input th:field="*{password}" type="password" id="password" name="password" placeholder="Password" required>

        <button id="signup-submit-button" type="submit">Create Account</button>
    </form>

    <div class="login-link">
        <p>Already have an account? <a href="login">Log In</a></p>
    </div>
</div>

<script th:src="@{/static/js/Authentication/register.js}"></script>
</body>
</html>
