<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" th:href="@{/static/css/Authentication/reset-form.css}">
</head>
<body>
<div class="reset-container">
    <div th:if="${message}" th:text="${message}"  class="result-message"></div>
    <div th:if="${message}"   class="result-message" ><p><a th:href="@{/login}">Login</a></p></div>
    <h2>Password Reset</h2>
    <form th:object="${forgot}" th:action="@{/reset_password}" class="reset-form" action="/reset-password" method="post">
        <input th:field="*{token}" th:text="${otpa}" type="hidden" id="otp" name="otp" placeholder="Enter Otp" required>
        <input th:field="*{password}" type="password" id="newPassword" name="newPassword" placeholder="Password" required>
        <button type="submit">Reset Password</button>
    </form>
</div>
</body>
</html>
